# Python
__pycache__/
*.py[cod]
temp/
*.db
*.log
*.json
*.html
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/

# Testing
.pytest_cache/
.coverage

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
